.register-page{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#eef5ff,#f8fbff);
    padding:20px;
}

.register-card{
    width:100%;
    max-width:450px;
    background:#fff;
    border-radius:24px;
    padding:28px;
    box-shadow:0 20px 60px rgba(0,0,0,.08);
    border:1px solid #edf2f7;
}

.brand{
    text-align:center;
    margin-bottom:12px;
}

.brand h2{
    color:#2563eb;
    font-weight:700;
    font-size:30px;
}

.register-title{
    text-align:center;
    font-weight:700;
    font-size:24px;
    margin-bottom:5px;
}

.register-subtitle{
    text-align:center;
    color:#6b7280;
    margin-bottom:18px;
    font-size:14px;
}

.form-control{
    height:46px;
    border-radius:12px;
    border:1px solid #dbe4f0;
}

.form-control:focus{
    border-color:#2563eb;
    box-shadow:none;
}

.form-label{
    font-weight:600;
    margin-bottom:5px;
}

.register-btn{
    width:100%;
    height:46px;
    border-radius:12px;
    font-weight:600;
    font-size:16px;
}

.register-footer{
    text-align:center;
    margin-top:12px;
    font-size:14px;
}

.register-footer a{
    text-decoration:none;
    font-weight:600;
}

.register-footer a:hover{
    text-decoration:underline;
}


@media(max-width:576px){

    .register-page{
        padding:15px;
    }

    .register-card{
        padding:22px 18px;
    }

    .brand h2{
        font-size:26px;
    }

    .register-title{
        font-size:22px;
    }

}